.footer{
    background: #313030;
    padding: 30px;

    .logo{
        width: 130px;
    }

    .navigation{
        padding-left: 0;
        li{
            display: block;

            a{
                color: rgba(#fff, .4);
            }
        }
    }

    .adress{
        color: rgba(#fff, .4);

        a{
            color: #838383;
            text-decoration: underline;
        }
    }

    .title{
        font-size: 20px;
        color: #fff;
        margin-bottom: 10px;
    }
}
